  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      /*color: #f5f6f7;*/
  }
  p {font-size: 16px;}

  .margin {
    margin-bottom: 45px;
    font: 30px Montserrat, sans-serif;
  }

  .font_in_cols{
    margin-bottom: 45px;
    margin-left: 75px;
    font: 30px Montserrat, sans-serif;
    color:black;
  }


  .bg-1 { 
      background-color: #2B7A78; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #008CBA;
      color: #fff;
  }


  .bg-mine { 
      background-color: #FEFFFF ; 
      color: #17252A;    
  }


  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      /*color: #1abc9c !important;*/
      color: #89bff8 !important;
  }

  a {
    color: #89bff8;
   }

   a:hover {
    background-color: white;
}


   .col-sm-5 {
  padding-right:50px;
  padding-left:50px;
}






/*############################################*/
/*############################################*/
/*
Work gallery CSS related
*/
/*############################################*/
/*############################################*/




.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #008CBA;
    border-radius: 5px;
    text-align: center;
    color: #008CBA;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #008CBA;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #008CBA;

}
/*.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}
*/
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 3%;    
    margin-left: 3%;
}



.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,40,40,0.3);
    color: #fff;
    padding: 0%;
    padding: 0%;
    
}




.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.gallery_product:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 10%;
  left: 1%;
/*  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
*/  text-align: center;
}



@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}




