/* Original color #.f.4.5.1.1.e.*/
/*new color #813772*/
/* bg_gregy: #f6f6f6 */

:root {
  --main-color: #813772;
  --main-color-light: #813772;
  --main-color-dark: #c30000;
  --main-color-background : #f6f6f6;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;    
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  

a{ color : var(--main-color);}

.button_collapse{ color : var(--main-color);}

.jumbotron {
    background-color: var(--main-color);
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    /*background-color: #f6f6f6;    */
    background-color: var(--main-color-background);   
}
.logo-small {
    color: var(--main-color);    
    font-size: 50px;
}
.logo {
    color: var(--main-color-light);
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: var(--main-color);    
}
.carousel-indicators li {
    border-color: var(--main-color);
}
.carousel-indicators li.active {
    background-color: var(--main-color);
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid var(--main-color); 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid var(--main-color);
    background-color: #fff !important;
    color: var(--main-color);
}
.panel-heading {
    color: #fff !important;
    background-color: var(--main-color) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: var(--main-color);
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: var(--main-color);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--main-color) !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--main-color);
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}







/*progess bar*/
#progressbar {
  background-color: lightgrey;
  border-radius: 13px;
  (height of inner div) / 2 + padding 
  padding: 3px;
  width: 50%;
}

#progressbar>div {
  background-color: var(--main-color-light);  
   /*Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}








/*Timeline related*/
.bold{font-weight:bold;}
.time{position:absolute; left:-120px;}
.timeline-wrapper {
padding-left:80px;
min-width: 400px;
/*font-family: 'Helvetica';*/
font: 100 15px Lato, sans-serif;
/*font-size: 14px;*/
/*border: 1px solid #CCC;*/
}
.StepProgress {
position: relative;
padding-left: 45px;
list-style: none;
}
.StepProgress::before {
display: inline-block;
content: '';
position: absolute;
top: 0;
left: 15px;
width: 10px;
height: 100%;
border-left: 2px solid #CCC;
}
.StepProgress-item {
position: relative;
counter-increment: list;
}
.StepProgress-item:not(:last-child) {
padding-bottom: 20px;
}
.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
left: -30px;
height: 100%;
width: 10px;
}
.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 0;
left: -37px;
width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%;
background-color: #FFF;
}
.StepProgress-item.is-done::before {
border-left: 2px solid #813772;
}
.StepProgress-item.is-done::after {
/*content: "?";*/
font-size: 10px;
color: #FFF;
text-align: center;
border: 2px solid var(--main-color-light);
/*background-color: #813772;*/
}
/*.StepProgress-item.current::before { 
border-left: 2px solid green;
}
.StepProgress-item.current::after {
content: counter(list);
padding-top: 1px;
width: 19px;
height: 18px;
top: -4px;
left: -40px;
font-size: 14px;
text-align: center;
color: green;
border: 2px solid green;
background-color: white;
}*/
.StepProgress strong {
display: block;
}





/*new time line */
/*#############*/
.right-content, .left-content {
  float:left;
  /*display:block;*/
  /*width:100%;*/
  padding:1% 2%;
}
.left-content {
  border-right:5px dotted var(--main-color-light);
  /*text-align:right;*/
}
.left-content p {
  margin:15px 0 0;
}
.right-content p {
  margin:8px 0 50px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out; 
}
.left-content .more-padding {
  padding-right:0px;
}
.right-content .more-padding {
  padding-left:0px;
}
